body {
  margin: 0;
  padding: 0 10px 10px;
  position: relative;
  font: 15px "Courier New", Courier, monospace;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
}


#header h1{
    background-image: url("../../data/icons/background_v8_s22.jpg");
    height: 700px;
    width:100%;
    font-size: 100px;
    padding-top: 199px;
    color:white;
    text-align: center;
}

#player-or-money img{
    max-width: 65px;
    max-height: 65px;
    vertical-align: middle;
    margin: 0 10px 4px;
    cursor: pointer;
}

.view{
    display: inline-block;
    width: 100%;
}

.half-width {
    width: 50%;
    height: calc(100% - 100px);
}

.group-tick line {
  stroke: #000;
}

.ribbons {
    fill-opacity: 0.67;
}

.group * {
    cursor: pointer;
}

.d3-tip {
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.selected path{
    stroke-width: 5px;
    stroke: black;
}


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
    transition: opacity 0.6s, stroke-opacity 0.6s;
}

.links line.selected {
    stroke-opacity: 0.7;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    transition: opacity 0.6s, stroke-opacity 0.6s;
    cursor: pointer;
}

.nodes circle.selected {

}

.nodes circle.not-selected, .links line.not-selected {
    stroke-opacity: 0.3;
    opacity: 0.15;
}

.nodes text.valueTag, .nodes text.nameTag {
    text-anchor: middle;
    cursor: pointer;
}

.year-circle {
    fill: #e3f4ff;
    cursor: pointer;
}

.year-circle.selected {
    fill: lightskyblue;
    stroke: cornflowerblue;
    stroke-width:4;
}

#leagues-selections {
    margin: 10px 0 20px;
}

#leagues-selections img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#leagues-selections div {
    width: 130px;
    height: 130px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#leagues-selections div.not-selected,
#teams-selections img.not-selected {
    opacity: 0.15;
}

#teams-selections {
}

#teams-selections div.view {
    display: none;
    margin-bottom: 16px;
}

#teams-selections div.view.selected {
    display: inline-block;
    width: auto;
}

#teams-selections img {
    max-width: 65px;
    max-height: 65px;
    vertical-align: middle;
    margin: 0 10px 4px;
    cursor: pointer;
}

#year-trend-svg,
#team-detail-chart-svg {
    transform: scaleY(-1);
}

#year-trend-svg .labels text,
#team-detail-chart-svg .labels text {
    transform: scaleY(-1);
}

#year-trend-svg .paths path,
#team-detail-chart-svg .paths path {
    fill: none;
    stroke: white;
    stroke-width: 1.5px;
    cursor: pointer;
}

#year-trend-svg .overlay,
#team-detail-chart-svg .overlay {
    fill: grey;
    opacity: 0.5;
    cursor: pointer;
}
