body {
  font: 10px sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.group-tick line {
  stroke: #000;
}

.ribbons {
  fill-opacity: 0.67;
}

.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: grey;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.selected path{
    stroke-width: 5px;
    stroke: black;
}


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
    transition: opacity 0.6s, stroke-opacity 0.6s;
}

.links line.selected {
    stroke-opacity: 0.7;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    transition: opacity 0.6s, stroke-opacity 0.6s;
}

.nodes circle.selected {

}

.nodes circle.not-selected, .links line.not-selected {
    /*fill: lightgrey;*/
    /*stroke: lightgrey;*/
    stroke-opacity: 0.3;
    opacity: 0.3;
}