body {
  margin: 0;
  padding: 0 10px 10px;
  position: relative;
  font: 15px "Courier New", Courier, monospace;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
}

#youtube{
    position:relative;
    left: 460px;
}

#layer{
    background-color: #000;
    width: 100%;

}

.coolButton{
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.coolButton:active
{
    transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.navigate{
    font: bold 11px Arial;
    text-decoration: none;
    background-color:#3e87ec;
    font-color: #FFF;
    width: 200px;
    height: 100px;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#show-player{
    background: url("../../data/icons/cute_boy.PNG");
    background-size: 100% 100%;
    position: relative;
    left:745px;
    height: 80px;
    width: 80px;
}

#show-fee{
    background: url("../../data/icons/cute_money.PNG");
    background-size: 100% 100%;
    position: relative;
    left: 755px;
    height: 80px;
    width: 80px;
}

#header h1{
    background-image: url("../../data/icons/background_v8_s22.jpg");
    border-radius: 25px;
    border:0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    height: 700px;
    width:100%;
    font-size: 100px;
    padding-top: 199px;
    color:white;
    text-align: center;

}

#player-or-money img{
    max-width: 65px;
    max-height: 65px;
    vertical-align: middle;
    margin: 0 10px 4px;
    cursor: pointer;
}

.view{
    display: inline-block;
    width: 100%;
}

.half-width {
    width: 50%;
    height: calc(100% - 100px);
}

.group-tick line {
  stroke: #000;
}

.ribbons {
    fill-opacity: 0.67;
}

.group * {
    cursor: pointer;
}

.d3-tip {
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.selected path{
    stroke-width: 5px;
    stroke: black;
}


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
    transition: opacity 0.6s, stroke-opacity 0.6s;
}

.links line.selected {
    stroke-opacity: 0.7;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    transition: opacity 0.6s, stroke-opacity 0.6s;
    cursor: pointer;
}

.nodes circle.selected {

}

.nodes circle.not-selected, .links line.not-selected {
    stroke-opacity: 0.3;
    opacity: 0.15;
}

.nodes text.valueTag, .nodes text.nameTag {
    text-anchor: middle;
    cursor: pointer;
}

.year-circle {
    fill: #e3f4ff;
    cursor: pointer;
}

.year-circle.selected {
    fill: lightskyblue;
    stroke: cornflowerblue;
    stroke-width:4;
}

#leagues-selections {
    margin: 10px 0 20px;
}

#leagues-selections img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#leagues-selections div {
    width: 130px;
    height: 130px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#leagues-selections div.not-selected,
#teams-selections img.not-selected {
    opacity: 0.15;
}

#teams-selections {
}

#teams-selections div.view {
    display: none;
    margin-bottom: 16px;
}

#teams-selections div.view.selected {
    display: inline-block;
    width: auto;
}

#teams-selections img {
    max-width: 65px;
    max-height: 65px;
    vertical-align: middle;
    margin: 0 10px 4px;
    cursor: pointer;
}

#year-trend-svg,
#team-detail-chart-svg {
    transform: scaleY(-1);
}

#year-trend-svg .labels text,
#team-detail-chart-svg .labels text {
    transform: scaleY(-1);
}

#year-trend-svg .paths path,
#team-detail-chart-svg .paths path {
    fill: none;
    stroke: white;
    stroke-width: 1.5px;
    cursor: pointer;
}

#year-trend-svg .overlay,
#team-detail-chart-svg .overlay {
    fill: grey;
    opacity: 0.5;
    cursor: pointer;
}
